<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <title>Vue.js test</title>
  <script src="js/axios.min.js"></script>
  <script src="js/vue.min.js"></script>
  <style>
    table {
      width: 600px;
      margin-bottom: 30px;
    }

    th {
      background-color: #333333;
      padding: 3px;
      color: #ff6633;
    }

    td {
      background-color: #fcfcfc;
      padding: 3px;
    }

    .td-title {
      font-weight: bold;
      color: #336666;
    }
  </style>
</head>

<body>

  <h2>Vue.js single file component + axios sample</h2>

  <p>photoAC free asset sample list<br>
    <a href="https://www.photo-ac.com/" target="_blank">https://www.photo-ac.com/</a>
  </p>

  <div id="app">

    <div v-for="(key, value, index) in res">
      <table>
        <tr>
          <th colspan="2"> {{ value }}
            <!--{{ index }}-->
          </th>
        </tr>
        <tr>
          <th colspan="2"><img v-bind:src="'images/' + value + '.jpg'" width="320" height="240" alt="" />
          </th>
        </tr>
        <tr>
          <td class="td-title">タイトル：</td>
          <td>{{ key.title }}</td>
        </tr>
        <tr>
          <td class="td-title">クリエイター：</td>
          <td>{{ key.creator }}</td>
        </tr>
        <tr>
          <td class="td-title">ダウンロード：</td>
          <td>{{ key.download | aligenmentNum }}</td>
        </tr>
        <tr>
          <td class="td-title">ID：</td>
          <td>{{ key.id }}</td>
        </tr>
        <tr>
          <td class="td-title">URL：</td>
          <td>{{ key.url }}</td>
        </tr>
        <!--
        <tr v-if="key.point!=='0'">
          <td class="td-title">自サイトでの使用回数：</td>
          <td>{{ key.use + "回" }}</td>
        </tr>
      -->
      </table>
    </div>

  </div>

  <script>
    const vm = new Vue({

      el: '#app',

      data() {
        return {
          res: {}
        }
      },

      filters: {

        /**
         * 3桁ごとにカンマを入れる
         * @param { number } num
         * @returns { string } 0 or ”,”で区切りされた値
         */
        aligenmentNum: function (num) {
          if (!num) {
            return "0"
          } else {
            return num.toString().replace(/(\d)(?=(\d{3})+$)/g, "$1,");
          }
        }

      },

      mounted() {
        // テスト用JSONファイルの読み込み
        axios
          .get('data/sample_order.json')
          .then(response => (this.res = response.data.buy))
          // エラー処理
          .catch(error => console.log(error))
      },

    });
    /*
        <table>
        <tr>
          <th colspan="2"> {{ value }}
            <!--{{ index }}-->
          </th>
        <tr>
          <td class="td-title">日付：</td>
          <td>{{ key.date }}</td>
        <tr>
          <td class="td-title">支払い方法：</td>
          <td>{{ key.payment }}</td>
        <tr>
          <td class="td-title">購入会社：</td>
          <td>{{ key.company }}</td>
        <tr>
          <td class="td-title">購入アイテム：</td>
          <td>{{ key.item }}</td>
        <tr>
          <td class="td-title">購入ゲーム：</td>
          <td>{{ key.game }}</td>
        <tr>
          <td class="td-title">購入金額：</td>
          <td>{{ key.amount | aligenmentNum }}</td>
        <tr v-if="key.point!=='0'">
          <td class="td-title">ポイント付与：</td>
          <td>{{ key.point + "pt" }}</td>
      </table>
      */
  </script>
</body>

</html>